{% extends "base.html.twig" %}

{% block title 'Jeux en chêne' %}

{% block body %}
     <div class="container mt-4">
        <h1>Jeux en chêne</h1>
        <p>Un texte</p>
    </div>
{% endblock body %}
