<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top second-nav ma-nav">

    <ul class="navbar-nav navbar-brand">
        <li class="nav-item">
            <a class="nav-link {% if menuCourant is defined and menuCourant == 'EnigmesEnChasse' %}active{% endif %}" href="{{ path('chasse.home') }}">Énigmant chasse<span class="sr-only">(current)</span></a>
        </li>
    </ul>
</nav>