{% extends "chasse/baseChasse.html.twig" %}

{% block body %}
    <div class="jumbotron mon-jumbotron text-center">
        <h1>Des énigmes en chasses au trésor</h1>
        <h3><i>Sortez vos pelles pour déterrer le coffre !</i></h3>
    </div>
    <p>ACTUALITE ; LIENS</p>
{% endblock body %}

