{% extends "admin/general/adminGeneral.html.twig" %}

{% block title %}
    Créer une nouvelle actualité
{% endblock title %}

{% block body %}
    <div class="container mt-4">
        <h1>Créer une nouvelle actualité</h1>

        {{ include('admin/general/actualite/_form.html.twig', {button: 'Créer'}) }}       

    </div>

{% endblock body %}

