<nav class="navbar navbar-expand-lg admin-bar navbar-light sticky-top third-nav ma-nav">
    <ul class="navbar-nav navbar-brand pt-0 pb-0">
        <li>
            <a class="nav-link {% if menuCourant is defined and menuCourant == 'AdminHome' %}active{% endif %}" href="{{ path('admin.home') }}">Général<span class="sr-only">(current)</span></a>
        </li>  
    </ul>    

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent2" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent2">
        <ul class="navbar-nav navbar-brand pt-0 pb-0">                
            <li class="nav-item">
                <a class="nav-link {% if menuCourant is defined and menuCourant == 'AdminChasse' %}active{% endif %}" href="{{ path('admin.chasse.home') }}">Chasse<span class="sr-only">(current)</span></a>
            </li>                
        </ul>  
    </div>
</nav>          
