{% extends "admin/chasse/adminBaseChasse.html.twig" %}

{% block body %}
    <div class="jumbotron mon-jumbotron text-center">
        <h1>Administration en chasse</h1>
        Bienvenue Grand Gourou
    </div>

{% endblock body %}


