{% extends "admin/general/adminGeneral.html.twig" %}

{% block title %}
    Éditer l'utilisateur
{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1>Éditer l'utilisateur  <i>{{ user.username }}</i></h1>

        {{ include('admin/general/user/_form.html.twig', {button: 'Éditer'}) }}       

    </div>

{% endblock %}
