{% extends "admin/general/adminGeneral.html.twig" %}

{% block title %}
    Mot de passe
{% endblock title %}

{% block body %}

    <div class="container mt-4">
        <h1 class="text-center">Modifier le mot de passe  <i>{{ user.username }}</i></h1>

        {{ form(form) }}

    </div>

{% endblock %}
