{% extends "admin/chene/adminBaseChene.html.twig" %}

{% block body %}
    <div class="container mt-4">
        <h1>Créer une nouvelle collection</h1>

        {{ include('admin/chene/collectionChene/_form.html.twig', {button: 'Créer'}) }}       

    </div>

{% endblock body %}

