{% extends "base.html.twig" %}

{% block title 'Énigmant' %}

{% block body %}
     <div class="jumbotron text-center">
        <h1>Bienvenue sur Enigmant</h1>
        <p>Un texte</p>
    </div>
{% endblock body %}
