{% extends "admin/chene/adminBaseChene.html.twig" %}

{% block body %}
    <div class="jumbotron mon-jumbotron text-center">
        <h1>Administration en chêne</h1>
        Bienvenue Grand Gourou
    </div>

{% endblock body %}


