{% extends "admin/adminGeneral.html.twig" %}

{% block title %}
    Éditer le thème
{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1>Éditer le thème</h1>

        {{ include('admin/theme/_form.html.twig', {button: 'Éditer'}) }}       

    </div>

{% endblock %}