{% extends "admin/adminGeneral.html.twig" %}

{% block title %}
    Créer un nouveau thême
{% endblock title %}

{% block body %}
    <div class="container mt-4">
        <h1>Créer un nouveau thème</h1>

        {{ include('admin/theme/_form.html.twig', {button: 'Créer'}) }}       

    </div>

{% endblock body %}

