body {
    background-color: whitesmoke;
}

.second-nav {
     top: 56px;
}

.third-nav {
     top: 128px;
}

.admin-bar {
    background-color: orange;
}

.invisible {
    visibility: visible;
}

/* Right-aligned section inside the top navigation */
.topnav-right {
  float: right;
}
