<ul class="navbar-nav navbar-brand">                
    <li class="nav-item">
        <a class="nav-link {% if menu_courant is defined and menu_courant == 'AdminUser' %}active{% endif %}" href="{{ path('admin_user_index') }}">Utilisateurs<span class="sr-only">(current)</span></a>
    </li>                
</ul>
