{% extends "chene/baseChene.html.twig" %}

{% block title %}
    Administration
{% endblock title %}

{% block body %}
    <div class="jumbotron text-center">
        <h1>Administration</h1>
        Bienvenue Grand Gourou
    </div>

{% endblock body %}


