{% extends "chene/baseChene.html.twig" %}

{% block body %}
    <div class="jumbotron mon-jumbotron text-center">
        <h1>Des énigmes en chêne qui s'enchainent</h1>
        <h3><i>louez un jeu en bois composés d'énigmes en tout genre</i></h3>
        <h3><i>et trouvez le médaillon caché à l'intérieur !</i></h3>
        
    </div>
    
    <p>ACTUALITE ; LIENS</p>
    
{% endblock body %}


