{% extends "chene/baseChene.html.twig" %}

{% block body %}
    <div class="jumbotron text-center">
        <h1>Les énigmes en chêne s'enchainent</h1>
        <p>FAIRE UNE DESCRIPTION ; ACTUALITE ; LIENS</p>
    </div>
{% endblock body %}


