<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top second-nav ma-nav">
    <ul class="navbar-nav navbar-brand pt-0 pb-0">
        <li class="nav-item">
            <a class="nav-link {% if menuCourant is defined and menuCourant == 'Home' %}active{% endif %}" href="{{ path('home') }}"> <span  class="fas fa-home"></span></a>
        </li>
    </ul>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent1" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
        
    <div class="collapse navbar-collapse" id="navbarSupportedContent1">
        <ul class="navbar-nav navbar-brand  pt-0 pb-0">
            <li class="nav-item mr-2">
                <a class="nav-link {% if menuCourant is defined and menuCourant == 'Profil' %}active{% endif %}" href="{{ path('home') }}">Mon profil<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item mr-2">
                <a class="nav-link {% if menuCourant is defined and menuCourant == 'Conversations' %}active{% endif %}" href="{{ path('general.conversation.index') }}">Mes Conversations<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item mr-2">
                <a class="nav-link {% if menuCourant is defined and menuCourant == 'Grades' %}active{% endif %}" href="{{ path('grade.index', {themeCourant: "General"}) }}">Mes grades<span class="sr-only">(current)</span></a>
            </li>
        </ul>               
    </div>


</nav>