{% if lecteur == "user" %}
    {% set vu = message.getVu()  %}
{% else %}
    {% set vu = message.getVuGourou()  %}    
{% endif%}

<div class="col-md-8 {% if exp == "user" %}offset-md-2{% endif%}">
    <div class="card {% if vu %}border-success{% else %}border-danger{% endif %}" style="min-width: 24rem;">
        <div class="card-header small-card-header {% if exp == "user" %}bg-light{% else %}bg-warning{% endif%}">
            <div class="d-inline">
                {% if exp == "user" %}{{ app.user.getUsername() }}{% else %}Grand Gourou{% endif%} 
            </div>
            <div class="d-inline float-right font-italic">
                {{ message.getDateString }}
            </div>
        </div>
        <div class="card-body">
           <div class="anchor">
                <a id="message-{{ message.getId() }}"> </a>
                {{ message.texte }}
            </div>
        </div>  
    </div>  
</div>