{% extends "general/baseGeneral.html.twig" %}

{% block body %}
    <div class="jumbotron mon-jumbotron text-center">
        <h1>Éditer la conversation</h1>
    </div>
    <div class="container mt-4">
        {{ include('general/conversation/_form.html.twig', {button: 'Éditer'}) }}      

    </div>

{% endblock body %}

