{% extends "general/baseGeneral.html.twig" %}

{% block body %}
    <div class="jumbotron mon-jumbotron text-center">
        <h1>Éditer le message</h1>
    </div>
    <div class="container mt-4">
        {{ include('general/conversation/_message_form.html.twig') }} 
    </div>

{% endblock body %}

