{% extends "general/baseGeneral.html.twig" %}

{% block body %}
    <div class="jumbotron mon-jumbotron third-nav sticky-top">
        <div class="container">    
            <div>
                <div class="col-md-10 offset-md-1">
                    {% include 'general/conversation/_conversation.html.twig' with {'mode': 'show'} %}
                </div>
            </div>
        </div>
    </div>

    {{ include('outils/_flash.html.twig') }}   

    <div class="container">
        {% if is_granted('ROLE_ADMIN') %}
            {% set lecteur = "admin" %}
        {% else %}
            {% set lecteur = "user" %}
        {% endif%}

        {% for message in messages  %}
            <div class="row mt-4">                
                {% if message.messageGourou %}
                    {% include 'general/conversation/_message.html.twig' with {'exp': 'admin', 'lecteur': lecteur} %}
                {% else %}
                    {% include 'general/conversation/_message.html.twig' with {'exp': 'user', 'lecteur': lecteur} %}
                {% endif%}
            </div>
        {% endfor %}

        <div class="row mt-4 mb-4">
            <div class="col-md-8 mb-4 {% if lecteur == "user" %}offset-md-4{% endif %}">
                {% include 'general/conversation/_message_form.html.twig' %}
            </div>    
        </div>

    </div>


{% endblock body %}


{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('message') }}
{% endblock %}