body {
    background-color: whitesmoke;
}

.second-nav {
     top: 42px;
/*     background-image: url("/images/chaine.png");  assuming img folder is one step back from css*/
}

.third-nav {
     top: 98px;
}

.admin-bar {
    background-color: orange;
}

.mon-jumbotron {
    padding-top: 16px; 
    padding-left: 0px;
    padding-right: 0px; 
    padding-bottom: 16px;
    margin: 0px;
}


@media (min-width: 567px) {
    .abs-center-x {
        position: absolute;
        top: 8px;
        left: 50%;
        transform: translateX(-50%);
    }
}

.ma-nav {
    padding-top: 0px;
    padding-bottom: 0px;
}

.ma-navbar-brand {
    margin-right: 0px;
    margin-left: 8px;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  filter: invert(1);
}

.carousel-indicators li {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin: 10px;
    text-indent: 0;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    background-color: #0000ff;
    box-shadow: inset 1px 1px 1px 1px rgba(0,0,0,0.5);    
}
.carousel-indicators .active {
    width: 24px;
    height: 24px;
    margin: 10px;
    background-color: #ffff99;
}

.colonne-centree
{
    float: none;
    margin: 0 auto;
}

.table-grade {
	font-size: .8em;
	background-color: #D22828;        
	border-collapse: separate;
	border-spacing: 0px;
	border-radius: 14px;
}

.table-grade > tr:first-child > td:first-child {
	border-top-left-radius: 14px;
}

.table-grade > tr:first-child > td:last-child {
	border-top-right-radius: 14px;
}

.table-grade > tr:last-child td:first-child {
	border-bottom-left-radius: 14px;
}

.table-grade > tr:last-child td:last-child {
	border-bottom-right-radius: 14px;
}

.clignotement {
  color:red; 
  animation: colorblink 2s infinite;
}
@keyframes colorblink { 
0% { }
50% { color:green; } 
}

.rounded_card {
    border-radius: 30px 30px 0px 0px;
}

.no-margin {
    margin: 0px;
}

.small-card-header {
    padding-bottom: 4px;
    padding-top: 4px;
}

.anchor a {
  position: relative;
  left: 0px;
  top: -500px;
}

.mon-area {
    min-height: 150px;
}

.pre {
    overflow-x:auto;
    /*display: inline;*/
}