<div class="row align-items-center">
    <div class="col-md-3 mb-0 pr-0 text-center ">
        <h4 class="font-weight-bold">
            Note
        </h4>
    </div>
    <div class="col-md-6 mb-0 pl-0">
        <fieldset class="ml-2 pt-0 pb-0 mt-0 mb-0"> 
            <div class="class" style="display: none;">
                {{ form_widget(form.note) }}
            </div>

            <span class="star-cb-group">    
               <input type="radio" id="reservation_jeu_note-5" name="reservation_jeu[note]" value="5" {% if reservation.note == 5 %}checked=""{% endif %}>
                <label class="mb-0" for="reservation_jeu_note-5"></label>
                <input type="radio" id="reservation_jeu_note-4" name="reservation_jeu[note]" value="4"{% if reservation.note == 4 %}checked=""{% endif %}>
                <label class="mb-0" for="reservation_jeu_note-4"></label>
                <input type="radio" id="reservation_jeu_note-3" name="reservation_jeu[note]" value="3"{% if reservation.note == 3 %}checked=""{% endif %}>
                <label class="mb-0" for="reservation_jeu_note-3" checked></label>
                <input type="radio" id="reservation_jeu_note-2" name="reservation_jeu[note]" value="2"{% if reservation.note == 2 %}checked=""{% endif %}>
                <label class="mb-0" for="reservation_jeu_note-2"></label>
                <input type="radio" id="reservation_jeu_note-1" name="reservation_jeu[note]" value="1"{% if reservation.note == 1 %}checked=""{% endif %}>
                <label class="mb-0" for="reservation_jeu_note-1"></label>
                <input class="star-cb-clear" type="radio" id="reservation_jeu_note-0" name="reservation_jeu[note]" value="0" {% if reservation.note == 0 %}checked=""{% endif %}/>
                <label class="mb-0" for="reservation_jeu_note-0"> </label>
            </span>
        </fieldset>
    </div>
    <div class="col-md-3 text-right mb-0 pl-0">
        <h5>
            <input  class="" type="radio" id="reservation_jeu_note-null" name="reservation_jeu[note]" value="-1" {% if reservation.note == -1 %}checked=""{% endif %}>
        <label class="mb-0" for="reservation_jeu_note-null">Ne pas noter</label>
        </h5>    
    </div>
</div>   


<div class="row align-items-center mb-2">
    <div class="col-md-3 mb-0 pr-0 text-center ">
        <h4 class="font-weight-bold">
            Avis général
        </h4>
        <div class="font italic">
            Cet avis sera visible sur le site
        </div>
    </div>
    <div class="col-md-9 text-center mb-0 pl-0">
        <div class="custom-control-lg custom-control custom-checkbox">{{ form_widget(form.avisPublic) }}</div> 
    </div>
</div>   

    
<div class="row align-items-center mb-2">
    <div class="col-md-3 mb-0 pr-0 text-center ">
        <h4 class="font-weight-bold">
            Difficultés
        </h4>
        <div class="font italic">
            Cet avis restera privé
        </div>
    </div>
    <div class="col-md-9 text-center mb-0 pl-0">
        <div class="custom-control-lg custom-control custom-checkbox">{{ form_widget(form.avisPriveDifficulte) }}</div> 
    </div>

</div>

<div class="row align-items-center">
    <div class="col-md-3 mb-0 pr-0 text-center ">
        <h4 class="font-weight-bold">
            Mécanismes
        </h4>  
        <div class="font italic">
            Cet avis restera privé
        </div>
    </div>
    <div class="col-md-9 text-center mb-0 pl-0">
        <div class="custom-control-lg custom-control custom-checkbox">{{ form_widget(form.avisPriveTechnique) }}</div> 
    </div>    
</div>
