<div class="row align-items-center">
    <div class="col-md-3 mb-0 pr-0 text-center ">
        <h4 class="font-weight-bold">
            Avis général
        </h4>
        <div class="font italic">
            Cet avis sera visible sur le site
        </div>
    </div>
    <div class="col-md-9 text-center mb-0 pl-0">
        <div class="custom-control-lg custom-control custom-checkbox">{{ form_widget(form.avisPublic) }}</div> 
    </div>
    
</div>   

<hr>

<div class="row align-items-center">
    <div class="col-md-3 mb-0 pr-0 text-center ">
        <h4 class="font-weight-bold">
            Difficultés
        </h4>
        <div class="font italic">
            Cet avis restera privé
        </div>
    </div>
    <div class="col-md-9 text-center mb-0 pl-0">
        <div class="custom-control-lg custom-control custom-checkbox">{{ form_widget(form.avisPriveDifficulte) }}</div> 
    </div>
    
</div>

<hr>

<div class="row align-items-center">
    <div class="col-md-3 mb-0 pr-0 text-center ">
        <h4 class="font-weight-bold">
            Mécanismes
        </h4>  
        <div class="font italic">
            Cet avis restera privé
        </div>
    </div>
    <div class="col-md-9 text-center mb-0 pl-0">
        <div class="custom-control-lg custom-control custom-checkbox">{{ form_widget(form.avisPriveTechnique) }}</div> 
    </div>    
</div>
