<div class="row align-items-center">
    <div class="col-md-12 mb-0 text-center ">
        <div class="custom-control-lg custom-control custom-checkbox">
            {{ form_widget(form.babioles) }}
        </div> 
    </div>
</div>   