<div class="card mb-4 border-dark">
    <div class="card-header bg-dark text-white">
        <h4 class="mb-0 mt-0">
            {% if champ == "lieuRetrait" %}
                Lieu du retrait
            {% elseif champ == "dateRetrait" %}
                Date du retrait
            {% elseif champ == "dateRendu" %}
                Date du retour
            {% elseif champ == "lieuRetour" %}
                Lieu du retour
            {% elseif champ == "avis" %}
                Avis
            {% elseif champ == "babioles" %}
                Babioles
            {% endif  %}
        </h4>
    </div>
    <div class="card-body p-3">
        {% include "chene/reservation/_"~champ~".html.twig" %}
    </div>
</div>