<div class="container mt-4 mb-4">
    <ul class="progressbar pl-0">
        <li {% if etape == 1 %}class="active"{% endif %}>En préparation</li>
        <li {% if etape == 2 %}class="active"{% endif %}>Prêt pour le retrait</li>
        <li {% if etape == 3 %}class="active"{% endif %}>Chez vous</li>
        <li {% if etape == 4 %}class="active"{% endif %}>Rendu</li>
    </ul>
</div>