<div class="container mt-4 mb-4">
    <ul class="progressbar">
        <li {% if etape == 1 %}class="active"{% endif %}>Lieu de retrait</li>
        <li {% if etape == 2 %}class="active"{% endif %}>Date de retrait</li>
        <li {% if etape == 3 %}class="active"{% endif %}>Contact</li>
        <li {% if etape == 4 %}class="active"{% endif %}>Validation</li>
        <li {% if etape == 5 %}class="active"{% endif %}>Confirmation</li>
    </ul>
</div>