<div class="row">
    <div class="col-md-1 text-center mb-0">
        <div class="custom-control-lg custom-control custom-checkbox">{{ form_widget(form.retraitDomicile) }}</div> 
    </div>
    <div class="col-md-11 mb-0">
        <h5 class="font-weight-bold">
            Retrait en Libre Service à Saint Philbert de Grand Lieu
        </h5>
        <ul class="mb-0">
            <li>Retrait garanti</li>
            <li>Retrait en libre service : possibilité tous les jours, à toute heure de la journée</li>
            <li>Le lieu de retrait et les modalités vous seront fournies après validation</li>
        </ul>
    </div>
</div>   

<hr>

<div class="row">
    <div class="col-md-1 text-center mb-0">
        <div class="custom-control-lg custom-control custom-checkbox">{{ form_widget(form.retraitRDV) }}</div> 
    </div>
    <div class="col-md-11 mb-0">
        <h5 class="font-weight-bold">
            Retrait sur rendez-vous dans la région Nantes Sud Loire
        </h5>                            
        <ul>
            <li>Retrait non garanti</li>
            <li>Nous répondrons au mieux à votre demande suivant nos disponilités</li>
        </ul>
        <div class="si_case_a_cocher" id="si_case_a_cocher" name="si_case_a_cocher" >
            <b>Veuillez proposer un lieu :</b>
            {{ form_widget(form.lieuRDV) }}
        </div> 
        
    </div>
</div>