{% extends "chene/baseChene.html.twig" %}

{% block body %}
    <div class="jumbotron mon-jumbotron">
        <div class="container">
            <h1 class="text-center">
                Location du Jeu en Chêne {{ reservation.jeu.nom }}
            </h1>
        </div>
    </div>

    {{ include('outils/_flash.html.twig') }}   

    
    <div class="container mt-4">
        <h5>État du Jeu en Chêne pour la location :</h5>
        {{ include('chene/reservation/_etat.html.twig', { etape : 1 }) }}
    </div>
{% endblock body %}

