{% extends "admin/chene/adminBaseChene.html.twig" %}

{% block body %}
    <div class="container mt-4">
        <h1>Créer une nouvelle réservation</h1>

        {{ include('admin/chene/reservation/_form.html.twig', {button: 'Créer'}) }}       

    </div>

{% endblock body %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('checkbox') }}
    {{ encore_entry_script_tags('datepicker') }}
{% endblock %}