{% if valeur > 0 %}
    <span class="fas fa-star text-color-gold star-shadow"></span> 
{% else %}
    <span class="fas fa-star text-color-clair"></span>  
{% endif %}
{% if valeur > 1 %}
    <span class="fas fa-star text-color-gold star-shadow"></span> 
{% else %}
    <span class="fas fa-star text-color-clair"></span>  
{% endif %}
{% if valeur > 2 %}
    <span class="fas fa-star text-color-gold star-shadow" aria-hidden="true"></span> 
{% else %}
    <span class="fas fa-star text-color-clair" aria-hidden="true"></span>  
{% endif %}
{% if valeur > 3 %}
    <span class="fas fa-star text-color-gold star-shadow" aria-hidden="true"></span> 
{% else %}
    <span class="fas fa-star text-color-clair" aria-hidden="true"></span>  
{% endif %}
{% if valeur > 4 %}
    <span class="fas fa-star text-color-gold star-shadow" aria-hidden="true"></span> 
{% else %}
    <span class="fas fa-star text-color-clair" aria-hidden="true"></span>  
{% endif %}
