{#DATETIME#}

<div class="col-md-6">
    <div class="form-group">
        <div class="input-group picker-datetime" id="UN_ID" data-target-input="nearest">
            <div class="input-group-prepend" data-target="#UN_ID" data-toggle="datetimepicker">
                <div class="input-group-text"><i class="fa fa-calendar-alt"></i></div>
            </div>
            <input type="text" class="form-control datetimepicker-input" data-target="#UN_ID"/>
        </div>
    </div>
</div>

{#DATE#}

<div class="col-md-6">
    <div class="form-group">
        <div class="input-group picker-date" id="UN_ID" data-target-input="nearest">
            <div class="input-group-prepend" data-target="#UN_ID" data-toggle="datetimepicker">
                <div class="input-group-text"><i class="fa fa-calendar-alt"></i></div>
            </div>
            <input type="text" class="form-control datetimepicker-input" data-target="#UN_ID"/>
        </div>
    </div>
</div>