<a href="{{ path("login") }}" class="btn btn-outline-success ma-nav">
    {% if themeCourant is defined %}
        {{ app.user.getGrade( themeCourant ) }}
    {% else %}
        {{ app.user.getUsername() }}
    {% endif %}
    <span class="fas fa-medal" aria-hidden="true"></span>
</a>