{% extends "base.html.twig" %}

{% block title  %}
    Énigmant
{% endblock title %}

{% block body %}
    {{ include('_titre_accueil.html.twig') }}
    
    {{ include('outils/_flash.html.twig') }}   

    <div class="container mt-4">
        <div class="row row-cols-1 row-cols-md-3 justify-content-center mb-4">
            {% for theme in themes %}
                {% if theme.disponible %}
                    <div class="col mb-4">
                        {{ include('general/theme/_theme.html.twig') }}
                    </div>
                {% endif%}

            {% endfor %}
        </div>

        <hr class="mt-4 mb-4">
        
        <div class="row row-cols-1 row-cols-md-3 justify-content-center mt-4">
            {% for theme in themes %}
                {% if not theme.disponible %}
                    <div class="col mb-4">
                        {{ include('general/theme/_theme.html.twig') }}
                    </div>
                {% endif%}

            {% endfor %}
        </div>


        {#<h2>Les dernières actualités</h2>

        <div class="alert alert-danger" role="alert">
            <span class="fas fa-camera" aria-hidden="true"></span>
        </div>#}
    </div>
{% endblock body %}


