{% extends "base.html.twig" %}

{% block title  %}
    Énigmant
{% endblock title %}

{% block body %}
    <div class="jumbotron mon-jumbotron text-center">
        <h1>Bienvenue sur Énigmant</h1>
        <h3><i>des énigmants tout genre</i></h3>
    </div>

    <div class="container">
        <a class="nav-link" href="{{ path('chene.home') }}">Énigmant Chêne</a>
        <a class="nav-link" href="{{ path('chasse.home') }}">Énigmant Chasse</a>        

        <h2>Les dernières actualités</h2>

        <div class="alert alert-danger" role="alert">
            <span class="fas fa-camera" aria-hidden="true"></span>
        </div>
    </div>
{% endblock body %}


