{% extends "base.html.twig" %}

{% block title  %}
    Énigmant
{% endblock title %}

{% block body %}
    <div class="jumbotron mon-jumbotron text-center mb-4">
        <h1>Énigmant {{ theme }}</h1>
    </div>

    <div class="container">
        <h1>Cette partie n'est pas encore disponible</h1>
        <h3><i>Patientez...</i></h3>
    </div>

{% endblock body %}


