{% extends "admin/chene/adminBaseChene.html.twig" %}

{% block body %}
    <div class="container mt-4">
        <h1>Créer un nouveau type de babiole</h1>

        {{ include('admin/chene/typeBabiole/_form.html.twig', {button: 'Créer'}) }}       

    </div>
{% endblock body %}

