{% extends "base.html.twig" %}

{% block title %}

{% endblock title %}

{% block body %}
    <div class="container mt-4">
        <h1>Créer une nouvelle babiole</h1>

        {{ include('admin/chene/babiole/_form.html.twig', {button: 'Créer'}) }}       

    </div>

{% endblock body %}

