<div class="col-md-4 actualites pt-4 bg-{{theme}}">
    <h3 class="mb-0 text-center">ACTUALITÉS</h3>
    <hr class="no-margin">

    {% for actualite in actualites  %}

        <div class="mt-2" >
            {%  include 'general/actualite/_actualite.html.twig' %}
        </div>
    {% endfor %}

    {# display navigation #}
    <div class="pagination mt-2">
        {{ knp_pagination_render(actualites) }}
    </div> 
</div>